<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
    <title>{% block title %}Hypnos Solutions{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <link rel="icon" type="image/png" href="/favicon.png" />

    <style type="text/css" media="screen">
      @import "{{ asset('bundles/hypnosmain/css/base.css') }}";
      @import "{{ asset('bundles/hypnosmain/css/menu.css') }}";
      @import "{{ asset('bundles/hypnosmain/css/menu2.css') }}";
    </style>

    <script type="text/javascript" src="{{ asset('js/swfobject.js') }}"></script>

  </head>
  <body>

    <div id="bar1_div">

      <div class="bar1_1_div">
        <a href="{{ asset('/') }}"><img src="{{ asset('bundles/hypnosmain/img/logo.png') }}" width="294" height="60" alt="Hypnos3D" style="margin-left: 16px;" /></a>
      </div>

      <table class="bar1_2_div">
        <tr>
          <td><input type="text" name="A" /></td>
          <td style="width: 11px;"></td>
          <td><input type="image" src="{{ asset('bundles/hypnosmain/img/search.png') }}" name="B" /></td>
          <td style="width: 09px;"></td>
        </tr>
      </table>

    </div>

    <div id="bar2_div">

      <div class="bar2_1_div">

        <ul class="menu">
{% block menu %}{% endblock %}
        </ul>

      </div>

      <div class="bar2_2_div">
        &nbsp;
        <a href=""><img src="{{ asset('bundles/hypnosmain/img/FaceBook_gray.png') }}" width="35" height="35" alt="FaceBook"
		onmouseout="javascript:this.src='{{ asset('bundles/hypnosmain/img/FaceBook_gray.png') }}'"
		onmouseover="javascript:this.src='{{ asset('bundles/hypnosmain/img/FaceBook_color.png') }}'" /></a>
        &nbsp;
        <a href=""><img src="{{ asset('bundles/hypnosmain/img/Twitter_gray.png') }}" width="35" height="35" alt="Twitter"
		onmouseout="javascript:this.src='{{ asset('bundles/hypnosmain/img/Twitter_gray.png') }}'"
		onmouseover="javascript:this.src='{{ asset('bundles/hypnosmain/img/Twitter_color.png') }}'" /></a>
        &nbsp;
        <a href=""><img src="{{ asset('bundles/hypnosmain/img/Feed_gray.png') }}" width="35" height="35" alt="Feed"
		onmouseout="javascript:this.src='{{ asset('bundles/hypnosmain/img/Feed_gray.png') }}'"
		onmouseover="javascript:this.src='{{ asset('bundles/hypnosmain/img/Feed_color.png') }}'" /></a>
        &nbsp;
        <a href=""><img src="{{ asset('bundles/hypnosmain/img/Youtube_gray.png') }}" width="35" height="35" alt="Youtube"
		onmouseout="javascript:this.src='{{ asset('bundles/hypnosmain/img/Youtube_gray.png') }}'"
		onmouseover="javascript:this.src='{{ asset('bundles/hypnosmain/img/Youtube_color.png') }}'" /></a>
        &nbsp;
      </div>

    </div>

{% if banner == true %}
    <div id="bar3_div">

      <div id="carousel1">

        <script type="text/javascript">
	  swfobject.embedSWF(
		"swf/carousel.swf",
		"carousel1",
		"950",
		"250",
		"9.0.0",
		false,
		{xmlfile: "swf/keyboard.xml", loaderColor: "0x000000"},
		{wmode: "transparent"}
	  );
        </script>

      </div>

    </div>
{% else %}
    <!-- no banner for support -->
{% endif %}

    <div id="bar4_div">

      <div id="bar4_1_div">

        <span style="font-size: 11px;"><a href="{{ asset('/') }}">home</a>{% for pathItem in pathItemArray %} &raquo; <a href="{% for pathItem2 in pathItemArray %}/{{ pathItem2 }}{% endfor %}">{{ pathItem }}</a>{% endfor %}</span>

        <hr />

{% block content %}{% endblock %}

      </div>

    </div>

    <div id="bar5_div">
      <div style="padding: 6px; font-size: 12px; text-align: center;">&copy; Copyright 2012 Hypnos Solutions. All Rights Reserved.</div>
    </div>

  </body>
</html>

